*{
  margin: 0px;
  padding: 0px;
}

body{
  background: #343436;
  font-family: "Open Sans", sans-serif;
}

.gradient-text {
  background: -webkit-linear-gradient(240deg, #FFD700 40%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-2{
  position: absolute;
  width: 900px;
  height: 560px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #4ADEDE;
  padding: 40px 0px 60px;
  overflow: hidden;
  margin: auto;
  box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.2);
  transition: all 0.25s linear;
}

.card-2{
  position: relative;
  background: #fff;
  width: 300px;
  height: 500px;
  margin: 0px auto;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.3);
  padding: 40px 30px;
  z-index: 1;
}

.box-menu{
  float: left;
}

.box-menu::focus {
    outline: none;
}

.trigger{
  position: relative;
  width: 50px;
  height: 33px;
  background: transparent;
  border: none;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
	white-space: nowrap;
  cursor: pointer;
  outline: none;
  float: left;
}

.trigger span.menu-icon,
.trigger span.menu-icon::before{
  position: absolute;
  width: 30px;
  height: 2px;
  background: #404444;
}

.trigger span {
	top: 10px;
	left: calc(50% - 15px);
	transition: transform .3s;
}

.trigger span.menu-icon::before{
  content:"";
  top: 10px;
  left: 0;
}

.box-menu ul.list-menu{
  float: left;
  margin-top: 8px;
}

.box-menu li{
  float: left;
  margin: 0px 8px;
  width: 15px;
  height: 15px;
  border: inset 1px rgba(0,0,0,0.2);
  list-style: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s linear;
  webkit-backface-visability: hidden;
  backface-visability: hidden;
}

.box-menu li:hover{
  transform: scale(1.2);
}

.details-2{
  float: right;
  color: #404444;
  text-transform: uppercase;
  font-weight: 500;
  margin: 5px 5px 0px 0px;
}

.details-back{
  float: left;
  color: #404444;
  text-transform: uppercase;
  font-weight: 500;
  margin: 5px 5px 0px 0px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 1px;
}

.icon-back {
    float: left !important;
    left: 2%;
    position: absolute;
}

.details-back:hover{
  color: red;
  pointer: cursor;
}

/*.trigger:hover span.menu-icon, */
.active{
  transform: rotate(90deg) translateY(-3px) translateX(3px);
}

.captit-2{
  text-align: center;
  margin-top: 90px;
  color: #404444;
}

.title-2::before{
  content: "";
  width: 40px;
  height: 2px;
  background: rgba(64, 68, 68, 0.7);
  display: block;
  margin: 10px auto 15px auto;
}

span.title-2{
  font-size: 22px;
  
}
.captit-2 h1{
  font-size: 60px;
  margin-bottom: 0px;
}

.captit-2 h2{
  font-size: 30px;
  margin-top: -10px;
}

.paragraph-2{
  color: #fff;
  position: absolute;
  left: 0;
  top: 420px;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  text-align: center;
}

.paragraph-2 p{
  line-height: 30px;
  letter-spacing: 0.18px;
  margin-bottom: 50px;
}

.paragraph-2 a.upgrade-button{
  background: white;
  border-radius: 35px;
  padding: 15px 85px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  letter-spacing: 0.1px;
  box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.3);
  transition: all 0.25s linear;
}

.paragraph-2 a.upgrade-button:hover{
  color: white;
  background: linear-gradient(240deg, #FFD700 8%, #000000 100%);
}

.big-circle-2 {
  position: absolute;
  width: 900px;
  height: 800px;
  border-radius: 50%;
  background: rgba(64, 68, 68, 0.9);
  bottom: -72.9%;
  right: -13%;
  z-index: 2;
  box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.2);
}

.white-circle-2{
  position: absolute;
  width: 780px;
  height: 800px;
  background: #fff;
  border-radius: 50%;
  bottom: -94%;
  left: -32%;
  z-index: 3;
  box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.2);
  overflow: hidden;
}

.angolo{
  background: #fff;
  width: 300px;
  height: 100px;
  float: right;
  margin-top: -40.5px;
  margin-right: -139px;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.3);
  padding: 40px 30px; 
}

.small-circle-2 {
    position: absolute;
    width: 130px;
    height: 130px;
    background: transparent;
    z-index: 0;
    top: 37.5%;
    left: 9%;
    border-radius: 50%;
    border: solid 80px #404444;
  box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.2);
}